.main_table {
    background-color: #F9FAFC;
    width: 98%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 16px;
    border: solid 1px #D6D9DE;
}