.table_column {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-bottom: solid 1px #D6D9DE;
}

.table_column:last-child {
    border-bottom: none;
}

.table_column_item {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    min-width: 90px ;
}

.table_column_checkbox{
    margin-right: 25%;
    margin-left: 10%;
}